{% extends 'base.html' %}

{% block title %}New Bird{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Create a new bird
            </p>
            <p class="subtitle">
                Fill in as much information as possible<br>(*) - required fields
            </p>
        </div>
    </section>
    
    <div class="box" style="margin:3em 6em;">
        <form action="{{ url_for('admin_bp.new') }}" method="post" style="margin:auto; width: 50em;">
            <h1 class="title">General Information</h1>
            <div class="field">
                <label class="label">English Name (*)</label>
                <div class="control">
                    <input class="input" type="text" name="EngName" placeholder="e.g Pacific Reef Heron" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Scientific Name (*)</label>
                <div class="control">
                    <input class="input" type="text" name="SciName" placeholder="e.g Egretta sacra" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Family (*)</label>
                <div class="control">
                    <input class="input" type="text" name="Family" placeholder="e.g Herons, Bitterns (Ardeidae)" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Malay Name</label>
                <div class="control">
                    <input class="input" type="text" name="MalName" placeholder="e.g Bangau Batu Pasifik">
                </div>
            </div>
            <div class="field">
                <label class="label">Chinese Name</label>
                <div class="control">
                    <input class="input" type="text" name="ChName" placeholder="e.g 岩鹭">
                </div>
            </div>
            <div class="field">
                <label class="label">Rarity Status (*)</label>
                <div class="control">
                    <div class="select">
                        <select name="RarityStatus" required>
                            <option value="0">Non-rarity</option>
                            <option value="1">Rarity</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Local Status (*)</label>
                <div class="control">
                    {% for i in localStat %}
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="status{{ loop.index }}" value="{{ i }}">
                                {{ localStat.get(i) }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <label class="label">Identification</label>
                <div class="control">
                    <textarea class="textarea" rows="5" name="Identification" placeholder="Appearance of the bird"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Habitat</label>
                <div class="control">
                    <textarea class="textarea" rows="3" name="Habitat" placeholder="Habitats where the bird is commonly found"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Behaviour</label>
                <div class="control">
                    <textarea class="textarea" rows="3" name="Behaviour" placeholder="Special behaviours of the bird"></textarea>
                </div>
            </div>
            
            <h1 class="title">Information to Identify Bird</h1>
            
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Size Range (cm)</label>
                </div>
                <div class="field-body">
                    <div class="field" style="width: 1em;">
                        <p class="control">
                            <input class="input" type="text" name="MinSize" placeholder="Min">
                        </p>
                        <p class="help">Minimum Size</p>
                    </div>
                    <div class="field" style="width: 1em;">
                        <p class="control">
                            <input class="input" type="text" name="MaxSize" placeholder="Max">
                        </p>
                        <p class="help">Maximum Size</p>
                    </div>
                </div>
            </div>

            {% for qn in qns %}
                <div class="field">
                    <label class="label">{{ qn.askQn }}</label>
                    {% for option in qn.options %}
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ qn.name }}{{ loop.index }}" value="{{ option }}">
                                {{ qn.options[option].capitalize() }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="field is-grouped" style="margin-top: 2em;">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-link is-light">Clear</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}