{% extends 'base.html' %}

{% block title %}Update Bird{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Edit {{ birdInfo['EngName'] }}
            </p>
            <p class="subtitle">
                (*) - required fields
            </p>
        </div>
    </section>

    <div class="box" style="width: 70%; margin: 1.5em auto;">
        <form action="{{ url_for('admin_bp.update') }}" method="post" style="margin:auto 1em;">
            <h1 class="title">General Information</h1>
            <div class="field">
                <label class="label">English Name (*)</label>
                <div class="control">
                    <input class="input" type="text" name="EngName" value="{{ birdInfo['EngName'] }}" placeholder="e.g Pacific Reef Heron">
                </div>
            </div>
            <div class="field">
                <label class="label">Scientific Name (*)</label>
                <div class="control">
                    <input class="input" type="text" name="SciName" value="{{ birdInfo['SciName'] }}" placeholder="e.g Egretta sacra">
                </div>
            </div>
            <div class="field">
                <label class="label">Family (*)</label>
                <div class="control">
                    <input class="input" type="text" name="Family" value="{{ birdInfo['Family'] }}" placeholder="e.g Herons, Bitterns (Ardeidae)">
                </div>
            </div>
            <div class="field">
                <label class="label">Malay Name</label>
                <div class="control">
                    <input class="input" type="text" name="MalName" value="{{ birdInfo['MalName'] if birdInfo['MalName'] != None }}" placeholder="e.g Bangau Batu Pasifik">
                </div>
            </div>
            <div class="field">
                <label class="label">Chinese Name</label>
                <div class="control">
                    <input class="input" type="text" name="ChName" value="{{ birdInfo['ChName'] if birdInfo['ChName'] != None }}" placeholder="e.g 岩鹭">
                </div>
            </div>
            <div class="field">
                <label class="label">Rarity Status (*)</label>
                <div class="control">
                    <div class="select">
                        <select name="RarityStatus">
                            {% if birdInfo['RarityStatus'] == 'Non-rarity'%}
                                <option value="0" selected>Non-rarity</option>
                                <option value="1">Rarity</option>
                            {% else %}
                                <option value="0">Non-rarity</option>
                                <option value="1" selected>Rarity</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Local Status (*)</label>
                <div class="control">
                    {% for i in localStat %}
                        <div class="control">
                            <label class="checkbox">
                                {% if i in birdInfo['LocalStatus'].split("/") %}
                                    <input type="checkbox" name="status{{ loop.index }}" value="{{ i }}" checked>
                                {% else %}
                                    <input type="checkbox" name="status{{ loop.index }}" value="{{ i }}">
                                {% endif %}
                                {{ localStat.get(i) }}
                            </label>             
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <label class="label">Identification</label>
                <div class="control">
                    <textarea class="textarea" rows="5" name="Identification" placeholder="Appearance of the bird">{{ birdInfo['Identification'] if birdInfo['Identification'] != None }}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Habitat</label>
                <div class="control">
                    <textarea class="textarea" rows="3" name="Habitat" placeholder="Habitats where the bird is commonly found">{{ birdInfo['Habitat'] if birdInfo['Habitat'] != None }}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Behaviour</label>
                <div class="control">
                    <textarea class="textarea" rows="3" name="Behaviour" placeholder="Special behaviours of the bird">{{ birdInfo['Behaviour'] if birdInfo['Behaviour'] != None }}</textarea>
                </div>
            </div>
            
            <h1 class="title">Information to Identify Bird</h1>
            
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Size Range (cm)</label>
                </div>
                <div class="field-body">
                    <div class="field" style="width: 1em;">
                        <p class="control">
                            <input class="input" type="text" name="MinSize" value="{{ birdInfo['MinSize'] if birdInfo['MinSize'] != None }}" placeholder="Min">
                        </p>
                        <p class="help">Minimum Size</p>
                    </div>
                    <div class="field" style="width: 1em;">
                        <p class="control">
                            <input class="input" type="text" name="MaxSize" value="{{ birdInfo['MaxSize'] if birdInfo['MaxSize'] != None }}" placeholder="Max">
                        </p>
                        <p class="help">Maximum Size</p>
                    </div>
                </div>
            </div>

            {% for qn in qns %}
                <div class="field">
                    <label class="label">{{ qn.askQn }}</label>
                    {% set outer_loop = loop %}
                    {% for option in qn.options %}
                        <div class="control">
                            <label class="checkbox">
                                {% if option.lower() in opts[outer_loop.index0] %}
                                    <input type="checkbox" name="{{ qn.name }}{{ loop.index }}" value="{{ option }}" checked>
                                {% else %}
                                    <input type="checkbox" name="{{ qn.name }}{{ loop.index }}" value="{{ option }}">
                                {% endif %}
                                {{ qn.options[option].capitalize() }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="field is-grouped" style="margin-top: 2em;">
                <div class="control">
                    <button type="submit" name="birdNum" value="{{ birdInfo['Num'] }}" class="button is-link">Update</button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-link is-light">Reset</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}