{% extends 'base.html' %}
{% from 'base.html' import viewabird %}

{% block title %}{{ birdInfo["EngName"] }}{% endblock %}

{% block content %}
    <div class="box" style="margin: 1.5em auto; width: 70%;">
        {{viewabird(birdInfo)}}
        <div class="content">
            <h2 class="title is-4">External Links</h2>
            <p>Warning: Links may not work</p>
            <ul>
                {% for link in links %}
                    <li>
                        <a href="{{ links[link] }}">{{ link }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
{% endblock %}