{% extends 'base.html' %}

{% block title %}{{ birdInfo[2] }}{% endblock %}

{% block content %}
    <div class="box" style="margin: auto 5em">
        <h1 class="title">{{birdInfo[2]}}</h1>
        <h1 class="subtitle">{{birdInfo[3]}}</h1>
        <!-- img here -->
        <div class="content">
            <h2 class="title is-4">Names</h2>
            <p><strong>English name:</strong> {{birdInfo[2]}}</p>
            <p><strong>Scientific name:</strong> {{birdInfo[3]}}</p>
            <p><strong>Malay name:</strong> {{birdInfo[4]}}</p>
            <p><strong>Chinese name:</strong> {{birdInfo[5]}}</p>

            <h2 class="title is-4">Description</h2>
            <p><strong>Rarity status:</strong> {{birdInfo[6]}}</p> 
            <p>
                <strong>Local status:</strong>
                {%for i in birdInfo[8].split("/")%}
                    {%if i == birdInfo[8].split("/")[-1]%}
                        {{localStat.get(i)}}
                    {%else%}
                        {{localStat.get(i)}}, 
                    {%endif%}
                {%endfor%}
            </p>
            <p><strong>Identification:</strong> {{birdInfo[9]}}</p>
            <p><strong>Habitat:</strong> {{birdInfo[10]}}</p>
            
            {%if birdInfo[11]%}
                <p><strong>Behaviour:</strong> {{birdInfo[11]}}</p>
            {%endif%}

            {%if not birdInfo[12]%}
                {{pass}}
            {%elif birdInfo[12]==birdInfo[13]%}
                <p><strong>Size:</strong> {{birdInfo[12]}}cm</p>
            {%else%}
                <p><strong>Size:</strong> {{birdInfo[12]}} - {{birdInfo[13]}}cm</p>
            {%endif%}

            <h2 class="title is-4">External Links</h2>
                <ul>
                    {% for link in links %}
                        <li>
                            <a href="{{ links[link] }}">{{ link }}</a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}