<!-- Base template which all other html pages extend on -->
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - SGBirdsFinder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
	</head>
	<body>
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ url_for('general_bp.welcome') }}">Home</a>
		    </div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item" href="{{ url_for('id_bp.identify_get') }}">Identify</a>
					<a class="navbar-item" href="{{ url_for('browse_bp.browse') }}">Browse</a>
					<a class="navbar-item" href="{{ url_for('general_bp.about') }}">About</a>
					<div class="navbar-item">
						<a class="button is-primary is-light" href="{{ url_for('auth_bp.login') }}"><strong>Admin</strong></a>
					</div>
				</div>
			</div>
        </nav>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="box">
					<ul class=flashes>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
    	{% endwith %}		
		{% block content %}{% endblock %}
	</body>
</html>
