{% extends 'base.html' %}

{% block title %}Browse Birds{% endblock %}

{% block content %}
    <div class="columns" style="margin: 1.5em 2em;">
        <div class="column is-one-third">
            <div class="box">
                <p class="title">Search the database of 400+ birds</p>
                <p class="subtitle">Enter a name, scientific name, or family</p>

                <form action="{{ url_for('browse_bp.browse') }}">
                    <div class="field has-addons" style="width: 100%;">
                        <div class="control">
                            <input class="input" type="text" name="query" placeholder="Find a bird">
                        </div>
                        <div class="control">
                            <button class="button is-info" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="column">
            <div class="box"> 
                {% if allbirds %}
                <div class="table-container">
                    <table class="table is-striped" style="margin: auto;">
                        <thead>
                            <th>No.</th>
                            <th>Common Name</th>
                            <th>Scientific Name</th>
                            <th>Family</th>
                            {% if session.get("isAdmin") %}
                                <th>Actions</th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for bird in allbirds %}
                            <tr>
                                <td>{{ bird["Num"] }}</td>
                                <td><a href="{{ url_for('viewbird_bp.viewbird', birdNum=bird['Num']) }}">{{ bird["EngName"] }}</a></td>
                                <td>{{ bird["SciName"] }}</td>
                                <td>{{ bird["Family"] }}</td>
                                {% if session.get("isAdmin") %}
                                    <td>
                                        <a href="{{ url_for('admin_bp.update') }}?num={{ bird[0] }}" style="margin-right: 0.8em;">
                                            <span class="icon is-medium">
                                                <i class="fa-regular fa-lg fa-pen-to-square"></i>
                                            </span>
                                        </a>
                                        <a href="{{ url_for('admin_bp.delete') }}?num={{ bird[0] }}">
                                            <span class="icon is-medium">
                                                <i class="fa-regular fa-lg fa-trash-can"></i>
                                            </span>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="title">No birds found</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}